html {
    background-color: #680A0A;

}

body {
    background-color: white;
    width: 600px;
    padding: 20px 90px;
    margin: 0px auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
}

p, ul, ol, h2 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 25px;
    text-decoration: bold;
}

a {
    text-decoration: none;
    color: #680A0A;

}

em {
    font-size: 12px;
}